/* Reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow: hidden
}

svg {
    display: block;
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: #181874;
}
    .face circle.day {
        fill: #2d2dcd;
        filter: drop-shadow(.1vmin .1vmin .1vmin black);
    }
    .face path.civil {
        fill: #2828b4;
    }
    .face path.nautical {
        fill: #23239b;
    }
    .face path.astronomical {
        fill: #1d1d82;
    }
    .face path.night {
        fill: #171769;
    }